<!doctype html>
                <html lang="en">
                  <head>
                      <link rel="stylesheet" href="/static/css/araxis.css">
                    <meta charset="utf-8">
                    <title>Миндаль сырой</title>
                  </head>
                  <body>
                    <section class="product">
  <div class="product__photo">
    <div class="photo-container">
      <div class="photo-main">

        <img src="/static/img/nut_mindal.jpg" height="350">
      </div>

    </div>
  </div>
  <div class="product__info">
    <div class="title">
      <h1>Миндаль сырой очищенный</h1>
      <span>{{ massa }}</span>Г
    </div>
    <div class="price">
      <span>{{ price }}</span>₸
    </div>

    <div class="description">
      <h3>ПОЛЬЗА</h3>
      <ul>
        <li>Богат полезными жирами, витаминами и минералами</li>
        <li>Положительно влияет на уровень сахара в крови, давление</li>
        <li>Нормализует вес и уменьшает чувство голода</li>
        <li>Наличие большого количества антиоксидантов</li>
      </ul>
    </div>
    <form action="/Orexof/mindal" method="post">
    <input type="submit" class="buy--btn" value="в корзину">
    <div class="quantity">
      <input type="text" id="amount" name="amount" value=1>
    </div>
  </div>
</section>

 <butt3 type="button" onclick="document.location='/'">Назад </butt3>
                  </body>
                </html>