<!doctype html>
                <html lang="en">
                  <head>
                    <link rel="stylesheet" href="/static/css/araxis.css">
                    <meta charset="utf-8">
                    <title>Вишня сушеная</title>
                  </head>
                  <body>
                    <section class="product">
  <div class="product__photo">
    <div class="photo-container">
      <div class="photo-main">

        <img src="/static/img/suho_wishnia.webp">
      </div>

    </div>
  </div>
  <div class="product__info">
    <div class="title">
      <h1>Вишня сушенная вяленая</h1>
      <span>{{ massa }}</span>Г
    </div>
    <div class="price">
      <span>{{ price }}</span>₸
    </div>

    <div class="description">
      <h3>ПОЛЬЗА</h3>
      <ul>
        <li>Наличие клетчатки</li>
        <li>Стимулирует пищеварение и обмен веществ</li>
        <li>Витамин B</li>
        <li>Борится с повышенной кислотностью желудка</li>
      </ul>
    <form action="/Orexof/vishnia" method="post">
    <input type="submit" class="buy--btn" value="в корзину">
    <div class="quantity">
      <input type="text" id="amount" name="amount" value=1>
    </div>
  </div>
</section>

 <butt3 type="button" onclick="document.location='/'">Назад </butt3>
                  </body>
                </html>